<div class="container" data-id="<%= @current_user.id %>">
  <%= show_svg('content_section.svg') %>

  <div class="title">
    <h1 class="attr-title">Quests</h1>
  </div>

  <article></article>

  <section></section>

  <div class="actions"></div>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(document).ready(function () {
// your code
    var id = $('.container').attr("data-id");

    $.getJSON("/users/" + id + "/user_data", { destination: 'quests' }, function(data) {
      $.getJSON("/quests/" + data.quests[0].id + "/quests_data", { extended_data: 'true' }, function(quest_data) {
        var attributes = {};

        $.extend(attributes, data.quests[0], quest_data);

        quest = new Quest(attributes);
        console.log(quest, quest.objective(), quest.count(), quest.message());

        displayEditLink();

      //  nextQuest();

        // next display items in proper place
        // have funciton that gives the next quest

        // need to have one page for displaying items and another for the quest javascript class -- .js
        // split pages so not loading the pages in my_life
      });
    });
  });
});
</script>
