<div class="container">
  <%= show_svg('content_section.svg') %>

  <div class="title">
    <h1 class="attr-title">Quests</h1>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
}
</script>
