<div class="container" data-id="<%= @current_user.id %>">
  <%= show_svg('content_section.svg') %>

  <div class="title">
    <h1 class="attr-title">Quests</h1>
  </div>

  <article></article>

  <section><ul></ul></section>

  <div class="actions"></div>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(document).ready(function () {
    getQuestData();
  });
});
</script>
