<h1>Inspirations</h1>

<ul>
<% @inspirations.each do |inspiration| %>
    <li><%= link_to inspiration.source, user_inspiration_path(@current_user, inspiration) %></li>
<% end %>
</ul>

<br></br>

<%= link_to "Add Inspiration", new_user_inspiration_path(@current_user) %>
