<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <% all_of_attribute.each do |item| %>
        <tr>

          <td>To Do: </td>
          <td><%= item.title %></td>
          <td>
            <br></br>

             => <%= item.description %>&nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td><%= link_to "X", user_priority_item_path(@current_user, item), method: :delete, data: { confirm: "Really?" } %></td>

        </tr>
      <% end %>
  </tbody>
</table>
