<h1>Your Priorities</h1>

<p>Most urgent tasks</p>


<%= render partial: 'table', locals: {priority_items: @priority_items} if @priority_items %>

  <br></br>

<%= dont_display_add_item_link(@priority_items) %>
