<h1>Your Priorities</h1>

<p>Most urgent tasks</p>


<%= render partial: 'table', locals: {all_of_attribute: @all_of_attribute} if @all_of_attribute %>

  <br></br>

<%= dont_display_add_item_link(@all_of_attribute) %>
