<h1>Disciplines</h1>

<%= render partial: 'layouts/table', locals: {all_of_attribute: @all_of_attribute} if @all_of_attribute %>

<br></br>

<%= link_to "Add Discipline", new_user_discipline_path(@current_user) %>
