<h1>Your Quests</h1>

<%= render 'table', locals: {object: @quests} %>

<br></br>

<% @objectives.each do |objective| %>
  <%= link_to type_of(objective), new_objective_quest_path(objective) %><br>
<% end %>
