<h1>Your Quests</h1>


<%= render partial: 'table', locals: {all_of_attribute: @all_of_attribute} if @all_of_attribute %>

<br></br>


<% @objectives.each do |objective| %>
  <%= link_to type_of(objective), new_user_objective_quest_path(@current_user, objective) %><br>
<% end %>
