<h1>Your Quests</h1>

<p>You can have up to two short term and one long term quest</p>

short quest,<br>
<%= link_to "Go on short quest?", new_objective_path %>

<br></br>

long quest, <br>
<%= link_to "Go on long quest?", new_objective_path %>
