<h1>Your Quests</h1>

<% @quests.each do |quest| %>
  <strong><%= Objective.find_by_id(quest.objective_id).duration %></strong>
  <strong><%= quest.title %></strong>
  <strong><%= quest.description %></strong><br>
<% end %>

<br></br>

<% @objectives.each do |objective| %>
  <%= link_to "Go on #{objective.duration.capitalize} Quest", new_objective_quest_path(objective) %><br>
<% end %>

<br></br>

<p>
  You can have up to two short term and one long term quest.
</p>
