<h1>Edit Profile</h1>

<p>Make sure email is of the right format and not already used.</p>
<p>Renter password to successfuly edit form</p>

<%= render partial: 'form', locals: {object: @current_user, url: @url = @current_user } %>
