<div class="my-life-links" data-id="<%= @current_user.id %>">
  <div class="my-life-link"><a href="#" class="attr" name="subscriptions">Subscriptions</a></div>
  <div class="my-life-link"><a href="#" class="attr" name="inspirations">Inspirations</a></div>
  <div class="my-life-link"><a href="#" class="attr" name="priority_items">Priorities</a></div>
  <div class="my-life-link"><a href="#" class="attr" name="disciplines">Disciplines</a></div>
  <div class="my-life-link"><a href="#" class="attr" name="quests">Quests</a></div>
  <div class="my-life-link"><a href="#" class="attr" name="family_members">Family Members</a></div>
</div>

<div class="container">
  <%= show_svg('content_section.svg') %>

  <div class="title">
    <h1 class="attr-title"></h1>
  </div>

  <article></article>

  <section>
  </section>

  <div class="actions"></div>
</div>

<div class="loader"></div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(window).load(function() {
     $('.loader').show();
     //$('.loader').hide();
     current_user = new User;
     current_user.current_attr = $('.my-life-links').data("id");

     $.getJSON("/users/" + current_user.id + "/user_data", function(user_data) {
       createAttrObjects(user_data);
     })
     .always(function () {
       $(".loader").hide();
     });
  });
/*
  current_user = new User;

  $('section').html('What to do, What to do!?<br>Click on a link to the left');

  $(".attr").on("click", function() {
    $('section').html('');
    getUserData(this);
  });*/
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
