<div class="container">
  <%= show_svg('content_section.svg') %>

  <div class="title">
    <h1>Create Profile</h1>
  </div>

  <section>
    <%= render partial: 'form', locals: { object: @user, url: url = signup_path, :errors => flash[:messages] } %>
  </section>

  <div class="facebook">
    <span>Sign up with<br>
    <%= link_to 'Facebook!', '/auth/facebook', class: "comp-font" %><br>
    or,</span>
  </div>
</div>
