<h1>Create Profile</h1>

<%= render partial: 'form', locals: {object: @user, url: @url = signup_path, :errors => flash[:messages] } %>

<br></br>

<span class="comp-font shadow">or,</span><br>

<%= link_to 'Sign up with Facebook!', '/auth/facebook', class: "comp-font shadow" %>
