<h1 class="scratch-font">Create Profile</h1>

<%= render partial: 'form', locals: {object: @user, url: @url = signup_path} %>

<br></br>

<p class="comp-font shadow">or,</p>
<%= link_to 'Sign up with Facebook!', '/auth/facebook', class: "comp-font shadow" %>
