<h1><%= @current_user.display_name %></h1><br>

<strong class="comp-font"><%= @current_user.display_birth_info %></strong>

<br></br>

<strong class="comp-font"><%= @current_user.email %></strong>

<br></br>

<%= link_to show_svg('edit-icon.svg'), edit_user_url %><br>
