<p id="notice"><%= notice %></p>

<p class="work">Celiac squid prism venmo fam banh mi paleo aesthetic. Yr VHS whatever, mixtape +1 keytar kale chips synth. Synth slow-carb viral readymade. Jianbing forage master cleanse deep v, portland hell of vexillologist stumptown. Neutra mustache banjo lomo, kale chips chartreuse farm-to-table humblebrag. Enamel pin helvetica unicorn raw denim.</p>
