<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>

      <td><strong>Name</strong></td>
      <td><strong>Amount</strong></td>
      <td><strong>Due day</strong></td>

    </tr>
    <% all_of_attribute.each do |subscription| %>
      <tr>

        <td><%= subscription.name %></td>
        <td><%= subscription.payment %></td>
        <td><%= subscription.due_day %></td>
        <td><%= link_to "X", user_subscription_path(@current_user, subscription), method: :delete, data: { confirm: "Really?" } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
