
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*///////////// Fonts ///////////// */

/* set web fonts */
@font-face {
   font-family: 'Liner';
   src:url('liner BMP14.ttf') format('truetype');
 }
/* Links */
nav a, #objective-links a, .comp-font {
 font-family: 'Liner';
 font-size: large;
 text-decoration: none;
 font-weight: bold;
 font-style: normal;
 padding-right: 15px;
 color: turquoise;
 text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}
/* Other elements */
h1, h2, li {
 font-family: 'Liner';
 font-size: large;
 text-decoration: none;
 font-weight: bold;
 font-style: normal;
 color: #ffdbcb;
 text-shadow: 80px 80px 6px rgba(14,32,56, 1);
}

/*/////////////  Colors ////////////////*/

/* error messages and delete */
.red {
 color: coral;
 font-size: 1.25em;
}
/* add button color */
.blue {
 color: #16fbf3;
 font-size: 1.75em;
}
/* list and table colors */
.pink {
 color: #ffabcb;
}

/*///////////// Form /////////////////*/

/* form */
button.button, form input.button, strong, label {
  font-family: 'Liner';
  font-size: large;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  color: #ffdbcb;
  text-shadow: 80px 80px 6px rgba(14,32,56, 1);
}
/* form field style */
input {
 background-color: black;
 box-shadow: 80px 80px 6px rgba(14,32,56,.5);
 font-family: 'Liner';
 color: green;
 font-weight: bold;
 font-style: normal;
 font-size: large;
 margin-top: 6px;
 margin-bottom: 6px;
}

#password-label {
 padding: 0;
}

#password-input {
 padding: 0;
}

/*///////////// Background //////////////*/

body {
 background: url("lion_background.jpg") no-repeat center fixed;
 background-size: cover;
}

/*///////////// On hover style links //////////////////*/

nav a:hover, div #objective-links a:hover {
  font-family: 'Liner';
  color: honeydew;
  text-shadow: 80px 80px 6px rgba(14,32,56, 1);
  font-weight: bold;
  font-style: normal;
  font-size: large;
}

ul.navigation {
   background:#fff;
}

ul.navigation li a  {
   text-decoration:none;
}

nav.navigation a.on {
   background: yellow;
}

.nav-link {
 color: snow;
}

/*///////////// Table ////////////////*/

.button {
 background-color: Transparent;
 background-repeat: no-repeat;
 cursor: pointer;
 overflow: hidden;
 outline: none;
 border: none;
 padding: 6px 32px;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}

.border {
 border-bottom: 1px dashed #ffdbcb;
 box-shadow: 80px 80px 6px rgba(14,32,56,.5);
}

.center {
 text-align: center;
 padding-left: 10px;
 padding-right: 10px;
}

/*/////////////// Display /////////////////*/

nav {
 text-align: center;
}

#container {
 position: relative;
 padding-top: 50px;
 padding-bottom: 50px;
 left: 450px;
 height: 100%;
 float: left;
 overflow: auto;
}
