.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

article a:hover, .my-life-link a:hover, .dropdown-content a:hover {
  text-shadow: 0 0 1px black;
}


/*
ul.navigation {
   background:#fff;
}

ul.navigation li a  {
   text-decoration:none;
}

nav.navigation a.on {
   background: yellow;
}

.nav-link {
 color: snow;
}

/*
.button {
 background-color: Transparent;
 background-repeat: no-repeat;
 cursor: pointer;
 overflow: hidden;
 outline: none;
 border: none;
 padding: 6px 32px;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
}*/

/*
div.profile {
  position: fixed;
  bottom: 37%;
  left: 51%;
}
*/

/* other artwork */
/*
#svg68 {
  height: 80%;
  width: 80%;
  position: fixed;
  bottom: 8%;
  left: 16%;
}*/

/* set web fonts */
/*@font-face {
   font-family: 'Liner';
   src:url('liner BMP14.ttf') format('truetype');
 }
/* Links
nav a, #objective-links a, .comp-font {
 font-family: 'Liner';
 font-size: normal;
 text-decoration: none;
 font-weight: bold;
 font-style: normal;
 padding-right: 15px;
 color: black;
}
/* Other elements
h1, h2, li {
 font-family: 'Liner';
 font-size: large;
 text-decoration: none;
 font-weight: bold;
 font-style: normal;
 color: black;
}

//////////////  Colors ////////////////*/

/* error messages and delete
.red {
 color: black;
 font-size: 1.25em;
}
/* add button color
.blue {
 color: black;
 font-size: 1.75em;
}


///////////// Form /////////////////*/

/* form
form {
  position: relative;
  bottom: 80%;
  left: 57%;
}

button.button, form input.button, strong, label {
  font-family: 'Liner';
  font-size: large;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  color: black;
}

div.image form input.button {
  position: fixed;
  right: 50%;
  bottom: 15%;
}
/* form field style
input {
 background-color: black;
 font-family: 'Liner';
 color: black;
 font-weight: bold;
 font-style: normal;
 font-size: large;
 margin-top: 6px;
 margin-bottom: 6px;
}

#password-label {
 padding: 0;
}

#password-input {
 padding: 0;
}
