<ul>
<% all_of_nested_attribute.each do |attr| %>


  <% if controller_name == "inspirations" %>

  <li>
    <strong><%= link_to attr.source, "/users/#{@current_user.id}/#{controller_name}/#{attr.id}" %></strong>
  </li>

  <% else %>

  <% all_of_nested_attribute[0].attributes.keys[1..-4].each do |key| %>
  <li>
    <strong><%= key %>: <%= attr["#{key}"] unless controller_name == "inspiration" %></strong>
  </li>
  <% end %>

  <ul>
    <strong><%= link_to "X", "/users/#{@current_user.id}/#{controller_name}/#{attr.id}", method: :delete, data: { confirm: "Really?" } %></strong>
  </ul><br>

  <% end %>
<% end %>
</ul>
